
.nav{
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 75px;
    line-height: 20px;
   background: #cdecec;
   box-shadow: 0 35px 68px 0 rgba(63, 232, 254, 0.22) , inset 0 -8px 16px 0 #cdecec;
  }
  .nav .wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
   
  }
  .wrapper .nav-links{ 
    display:inline-flex;
    font-size: 17px;
    font-weight: 500;
    line-height: 60px;
    
  }
  .nav-links li{
    list-style: none; 
    border-radius: 10px;
  }
  .nav-links li:hover .drop-menu{
    opacity: 1;
    visibility:visible;
    transition: all .3s ease-in-out;
    top: 55px;
    border-radius: 10px;
  }
  
  .nav-links li:hover .mega-box{
    opacity: 1;
    visibility:visible;
    transition: all .3s ease-in-out;
    top: 65px;
    background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    box-shadow: 0 35px 68px 0 rgba(63, 184, 254, 0.42), inset 0 -8px 16px 0 #cff1ef;
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .nav-links li a{
    color: rgb(96, 114, 131);
    text-decoration: none;
    padding:9px 15px;
    margin-right: 10px;
    font-weight: 500; 
    transition: all 600ms ease; 
    text-transform: capitalize;
  }
  .nav-links li a.active{
    background: linear-gradient(to right, #56d1d1 0%, #2230d1  51%, #fff781 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .nav-links li a:hover{
    text-decoration: none;
    background: linear-gradient(to right, #56d1d1 0%, #2230d1  51%, #fff781 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 
  
  .mega-box{
    position:absolute;
    top:55px;
    width:100%;
    left: 0;
    opacity: 0;
    visibility:hidden;
    transition: all .3s ease-in-out;
    
   
  
  }
  .mega-box .content{
   
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
    
  }
  .mega-box .content .row{
    width:calc(25% - 30px);
   
  }
  .mega-box .content .row li{
    line-height:45px;
    font-size: 16px;
    font-weight: 500;
  }
  .content .row img{
    width:100%;
    height:100%;
    object-fit: cover;
  }
  .content .row header{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align:left;
    text-transform: capitalize;
    background: linear-gradient(to right, #18e4e4 0%, #585842  51%, #67aed8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .content .row .mega-links{
    margin-left: -30px;;
    border-left: 1px solid rgba(78, 76, 76, 0.09);
    width: 100%;
  }
  .row .mega-links li{
    padding: 0 20px;
  text-transform: capitalize;
   
  
  }
  .row .mega-links li a{
    padding: 0 20px;
    font-size: 17px;
    display: block;
    text-align: left;
  
  }
  .nav-links .mobile-item{
    display:none;
  
  }
  .wrapper .btn{
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    display: none;
  
  }
  .wrapper .btn.cancel-btn{
    position:absolute;
    right: 30px;
    top: 10px;
  
  }
  .modal{
    position:inherit;
  }
  .search:hover{
  
  width: 25px !important;
  height: 25px !important;
  
  
  }
  
  
  .wrapper input{
    display:none;
  }
  
  .icon span {
    display: inline-block;
    
    position: relative;
  }
  
  .icon .count {
    justify-content: center;
    position: absolute;
    top: -20px;
    right: -0.8rem;
    background:linear-gradient(to right, #c06cd8, #765aea);
    height: 25px;
    padding: 3px 6px 6px 6px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    border-radius: 40%;
    cursor: pointer;
    margin-right:7px;
    margin-top: 3px;
  }
  .icon img{
        cursor: pointer;
        margin-right: 10px;
  }
  
  
  @media screen and (max-width: 968px){
    .wrapper .btn{
          display:block;
    }
    .wrapper .nav-links{
          position:fixed;
          height: 100vh;
          width: 100%;
          max-width: 350px;
         
          display: block;
          top: 0;
          left: -100%;
          overflow-y: auto;
          line-height: 50px;
          padding:50px 10px;
        
    background:linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
          
    }
    #menu-btn:checked~ .nav-links{
          left: 0%;
    }
    #menu-btn:checked~ .btn.menu-btn{
         display: none;
    }
    .nav-links::-webkit-scrollbar{
          width: 0;
    }
    .nav-links li{
          margin:15px 10px;
          color: rgb(96, 114, 131);
          
    }
    .nav-links li a{
          padding: 0 20px;
          font-size: 20px;
          text-align:left;
           
  
    }
    .nav-links li a:hover{
          color: #03031d;
    }
    .nav-links .drop-menu{
          position:static;
          opacity: 1;
          visibility: visible;
          top: 75px;
          padding-left: 20px;
          width:100%;
        max-height: 0px;
        overflow:hidden;
        transition: all .3s ease;
    }
    #showDrop:checked~ .drop-menu,
    #showMega:checked~ .mega-box{
        max-height: 100%;
    }
  
    .nav-links .desktop-item{
          display: none;
    }
    .nav-links .mobile-item{
          display:block;
          font-size: 20px;
          color: rgb(0, 0, 0);
          font-weight: 600;
          padding-left: 20px;
          cursor: pointer;
          border-radius: 8px;
          transition: all .3s ease-out;
         
    }
    .nav-links .mobile-item:hover{
         
  color: #060707;
       display: block; 
    }
    
    .mega-box{
          position:static;
          top:75px;
          width:100%;
          left: 0;
          opacity: 1;
          visibility:visible ;
          transition: all .3s ease;
          max-height: 0px;
          overflow:hidden;
       
    }
    .mega-box .content{
    
         flex-direction: column;
         padding: 20px 20px 0 20px;
      
    }
    .mega-box .content .row{
          width:100%;
          margin-bottom: 15px;
          border-top: 1px solid rgba(0, 0, 0, .15);
    }
    .content .row header{
          font-size: 23px;
    }
    .content .row .mega-links{
          width:100%;
    }
    #arrowDown{
          display: visible;
    }
  
  }
  
  .wrapper input{
    display:none;
  }
  
  .icon span {
    display: inline-block;
    
    position: relative;
  }
  
  .icon .count {
    justify-content: center;
    position: absolute;
    top: -20px;
    right: -0.8rem;
    background:linear-gradient(to right, #c06cd8, #765aea);
    height: 25px;
    padding: 3px 6px 6px 6px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    border-radius: 40%;
    cursor: pointer;
    margin-right:7px;
    margin-top: 3px;
  }
  .icon img{
        cursor: pointer;
        margin-right: 10px;
  }
  .logo-img{
    width:70px; height: 50px;margin-left: -10px;
  }